<%= form_for(page) do |form| %>
  <h2><%= @page.title %></h2>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div style="margin-top: 15px">
  <%= link_to 'Back to All Pages', '/pages' %>
</div>
