<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <p>text</p>
  <!--Navigation-->
  <nav class="top-nav">
    <%= link_to "Logo", root_path %>
    <%= link_to 'Posts', posts_path %>
    <a href="/readme">Readme</a>
  </nav>
</header>

<body>
<%= yield %>
</body>
</html>
